body {
  margin: 0;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

.date > input {
  border-radius: 10px;
  padding: 3px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  width: 120px;
}

.sel > select {
  border-radius: 10px;
  padding: 3px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  width: 200px;
}

.btn > button {
  border: 0px;
  border-radius: 10px;
  padding: 3px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  width: 80px;
  background-color: rgb(0, 130, 186);
  cursor: pointer;
  color: white;
}

.title{
  color: #3c7f95;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.content_container{
  text-align: center;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vw;  
}

.query_mask{
  background-color: black;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
  height: 8%;
  width: 100%;
}

.query_container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: white;
  position: absolute;
  z-index: 3;
  padding-top: 1%;
  padding-bottom: 1%;
  left: 25%;
}

.claim{
  color: #3c7f95;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.result_container{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  position: absolute;
  z-index: 2;
  padding-top: 5%;
  padding-bottom: 1%;
  left: 25%;
}

.msg{
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  display: none;
}

.rTable{
  background-color: white;
  line-height: 30px;
  border-style: dotted;
  border-color: #3c7f95;
}

.cap{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  background-color: white;
  line-height: 50px;
}

.tableHead{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}